.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-form-builder .react-form-builder-toolbar{
  margin: 0;
}
.react-form-builder .react-form-builder-toolbar h4{
    padding: 10px;
    background: #7a0019;
    color: #fff;
}
.react-form-builder .react-form-builder-preview{
  min-height: 64rem;
}
.heading{
  margin: 5% auto; 
}

.gui-builder{
  margin: 5% 5%;
}
.closeBtn{
  margin: 5%;
}
@media (max-width: 768px){
  .react-form-builder .react-form-builder-toolbar {
    position: absolute;
  }
  .react-form-builder .react-form-builder-preview{
    min-height: 25rem;
    margin-bottom: 20%;
  }
  .static{
    font-size: 0.85rem;
  }
  .react-form-builder .react-form-builder-preview .Sortable .rfb-item .toolbar-header .label{
    left: 0;
  }
}
